@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  color-scheme: dark;
}

html,
body,
#__next {
  @apply size-full;
}

#__next {
  @apply flex flex-col;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-stone-950;
  @apply text-white/60;
  @apply selection:bg-stone-100;
  @apply selection:text-black;
}

header,
main,
footer {
  @apply mx-auto max-w-screen-sm px-5;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-stone-950/25;
  @apply backdrop-blur-sm;
}

main {
  @apply grow py-32;
}

footer {
  @apply py-5 text-sm;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}
